@charset "UTF-8";
/* Boton Whatsapp */
.btn-whatsapp {
  width: 70px;
  height: 70px;
  display: block;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}

/* Barra de menú*/
nav.principal ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-color: #0D2C40;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  opacity: 0.9;
  top: 0;
}
nav.principal ul li {
  color: white;
}
nav.principal ul li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: "Bangers", cursive;
}

.inicio {
  background-color: #03A64A;
}

/* Definición de imagenes*/
.imagenesConsecutivas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: none !important;
  justify-content: center;
}
.imagenesConsecutivas div p {
  text-align: center;
}

.imagenRedondeada {
  border-radius: 50%;
  padding: 5px;
}

.imagenCentrada {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 3px;
  height: auto;
  border-radius: 20px;
}

/* Iconos de las redes */
.iconos-azules {
  text-decoration: none;
  color: #0D2C40;
}

.iconos-rojos {
  text-decoration: none;
  color: red;
}

/* Sección de pie de pagina */
.pie {
  display: block;
}
.pie .pie__p {
  text-align: center;
}

/* Formulario*/
.formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 6px;
  margin-right: 3px;
  justify-content: center;
}

.mapa {
  border: 1px solid #03A64A;
}

/*Nuestro equipo*/
.our-team {
  padding: 20px 15px 30px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
}
.our-team .pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 10px;
  margin-bottom: 25px;
  transition: all 0.5s ease 0s;
}
.our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.our-team:hover .pic {
  background: #0D2C40;
  border-radius: 50%;
}
.our-team .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #2e282a;
  text-transform: uppercase;
  margin: 0 0 7px 0;
}
.our-team .post {
  display: block;
  font-size: 15px;
  color: #0D2C40;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.our-team .social {
  padding: 0;
  margin: 0;
  list-style: none;
}
.our-team .social li {
  display: inline-block;
  margin-right: 5px;
}
.our-team .social li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 15px;
  color: #0D2C40;
  border: 1px solid #0D2C40;
  transition: all 0.5s ease 0s;
}
.our-team .social li a:hover {
  background: #0D2C40;
  color: #fff;
}
@media only screen and (max-width: 990px) {
  .our-team .our-team {
    margin-bottom: 30px;
  }
}

/* Portada */
.typeR {
  font-family: "Montserrat", sanss-serif;
  font-weight: 400;
  font-size: larger;
  color: white;
}
.typeR .typeR.bold {
  font-weight: 700 !important;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 0.5em 0.75em;
  border-radius: 4px;
}
.button .button.mar-right {
  margin-right: 20px;
}

#content {
  max-width: 1080px;
  margin: auto;
  padding-top: 10px;
}
#content .banner {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(../imagenes/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#content .banner h3, #content .banner p {
  color: #fff;
}
#content .banner h3 {
  font-size: 23px;
  margin-bottom: 0.5em;
}
#content .banner p {
  font-size: 18px;
  margin-bottom: 1em;
}
#content .banner div {
  padding: 20px 2rem;
  box-shadow: 5px 10px 8px #888888;
}

/*Clientes*/
#clientes {
  margin: 10px;
}
#clientes .flex-containerClientes {
  display: flex;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  justify-content: center;
}
#clientes .flex-containerClientes div {
  border: 10px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  box-shadow: 5px 10px 8px #888888;
}
#clientes .flex-containerClientes div:hover {
  transform: scale(1.2, 1.2);
}

/*Servicios*/
.flex-containerServicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-containerServicios div {
  background-color: #0D2C40;
  color: white;
  border: 10px;
  width: 350px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 17px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px #03A64A;
}
.flex-containerServicios div p {
  line-height: 1.2;
}

/* Definición de grid */
body {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
  grid-row-gap: 10px;
  font-family: "Montserrat", sans-serif;
  /* Definición de los H*/
}
body h1 {
  text-align: center;
  animation-name: aparecer;
  animation-iteration-count: initial;
  animation-duration: 2s;
}
body h2 {
  color: #03A64A;
  background-color: #0D2C40;
  border-radius: 100px;
  text-align: center;
  font-size: 28px;
  margin: 0px 0px 8px;
}
body h3 {
  color: #03A64A;
  font-weight: 1px;
  margin: 20px;
  font-size: 24px;
}
body header {
  grid-area: header;
}
body main {
  grid-area: main;
  margin-top: 60px;
}
body footer {
  grid-area: footer;
}
body li a:hover {
  background-color: #111;
}

.tituloPrincipal {
  color: #0D2C40;
  font-weight: 700 !important;
}

/* Hacer aparecer los titulos H1*/
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Retoques de Bootstrap */
.form-control:focus {
  border-color: #03A64A;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.btn {
  background-color: #03A64A;
  color: white;
}
.btn:hover {
  background-color: #1dd66d;
  color: white;
}

.container-fluid {
  background-color: #0D2C40;
  padding: 0;
}

.navbar-brand {
  background-color: #1dd66d;
  padding: 0;
}

.nav-link {
  color: white !important;
  font-family: "Bangers", cursive;
  margin: 10px;
}

.navbar-toggler-icon {
  background-color: #1dd66d;
}

.navbar-toggler {
  background-color: #1dd66d;
}

.navbar {
  padding: 0;
  opacity: 0.95;
}

.navbar-toggler {
  margin: 10px;
}

.card {
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
