/* Formulario*/
.formulario{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 6px;
    margin-right: 3px;
    justify-content:center;
  
  
  }

  
.mapa{
    border: 1px solid $color1 ;
  }