/* Definición de grid */ 
body{
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-row-gap: 10px;
    font-family: 'Montserrat', sans-serif;
    
    /* Definición de los H*/
                          h1{
                            text-align: center;
                            animation-name: aparecer;
                            animation-iteration-count: initial;
                            animation-duration: 2s;
                          }
                          h2{
                            color: $color1;
                            background-color: $color2;
                            border-radius: 100px;
                            text-align: center;
                            font-size: 28px;
                            margin: 0px 0px 8px;
                          }
                          h3 {
                            color: $color1;
                            font-weight: 1px;
                              margin: 20px;
                              font-size: 24px;
  
                          }
  
                          header{
                            grid-area: header;
                            
                          }
                          
                          main{
                            grid-area: main;
                            margin-top: 60px;
                          }
                          
                          footer{
                            grid-area:  footer;
                          }
                          li a:hover {
                            background-color: #111;
                          }
    
  }
  
  .tituloPrincipal{
    color: $color2;
    font-weight: 700 !important;
  }
  

/* Hacer aparecer los titulos H1*/

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }  