/*Servicios*/
.flex-containerServicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
          div {
                  background-color: #0D2C40;
                  color: white;
                  border: 10px;
                  width: 350px;
                  margin: 10px;
                  text-align: center;
                  line-height: 75px;
                  font-size: 17px;
                  border-radius: 20px;
                  padding: 20px;
                  box-shadow: 5px 5px 5px $color1;
                      p {
                          line-height: 1.2;
                      }
  
             }
  }