
$color1:#03A64A;
$color2:#0D2C40;

@mixin vision-parametros($ancho, $altura, $display) {
    width: $ancho;
    height: $altura;
    display: $display;
}

@import 'whatsapp';
@import 'menu';
@import 'imagenes';
@import 'iconos';
@import 'footer';
@import 'contacto';
@import 'nosotros';
@import 'portada';
@import 'clientes';
@import 'servicios';
@import 'general';
@import 'bootstrap';
